<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load custom_tags %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>IT Hardware Service Catalogue</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendors/ti-icons/css/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/css/vendor.bundle.base.css' %}"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/ti-icons/css/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'js/select.dataTables.min.css' %}"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="{% static 'css/vertical-layout-light/style.css' %}"
    />
    <!-- endinject -->
{% comment %} google icons {% endcomment %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
        >
          <a class="navbar-brand brand-logo mr-5" href="index.html"
            ><img src="{% static 'images/mylogo.jpg' %}" class="mr-2" alt="logo"
          />Administration</a>
          <a class="navbar-brand brand-logo-mini" href="index.html"
            ><img src="{% static 'images/mylogo.jpg' %}" alt="logo"
          /></a>
        </div>
        <div
          class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
        >
          <button
            class="navbar-toggler navbar-toggler align-self-center"
            type="button"
            data-toggle="minimize"
          >
            <span class="icon-menu"></span>
          </button>
          <ul class="navbar-nav mr-lg-2">
            
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            
            <li class="nav-item nav-profile dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                id="profileDropdown"
              >
                <img
                  src="{% static 'images/mylogo.jpg' %}"
                  alt="profile"
                />
              </a>
              <div
                class="dropdown-menu dropdown-menu-right navbar-dropdown"
                aria-labelledby="profileDropdown"
              >
                <a href="/change-password/" class="dropdown-item">
                  <i class="ti-settings text-primary"></i>
                  Settings
                </a>
                <a href="/signout/" class="dropdown-item">
                  <i class="ti-power-off text-primary"></i>
                  Logout
                </a>
              </div>
            </li>
            
          </ul>
          
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item {% if request.path == '/adminindex/' %}active{% endif %}">
              <a class="nav-link" href="/indexhome/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>

            <li class="nav-item {% if request.path == '/registered-user/' %}active{% endif %}">
                <a class="nav-link" href="/registered-user/">
                  <i class="icon-grid menu-icon"></i>
                  <span class="menu-title">Registered User</span>
                </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                href="#ui-basic"
                aria-expanded="false"
                aria-controls="ui-basic"
              >
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Catalogue</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    
                    <li class="nav-item" style="">
                        <a class="nav-link" href="/add-product-category/"
                          >Add Category</a
                        >
                    </li>
                    <li class="nav-item" style="">
                      <a class="nav-link" href="/vwproduct-cateogy/"
                        >View Category</a
                      >
                  </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="/add-product/"
                        > 
                          Add Catalogue</a
                        >
                    </li></a
                    >
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/vwproduct/"
                      >View Catalogue</a
                    >
                  </li>
                </ul>
              </div>
            </li>  
            
            
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                href="#ui-basic-1"
                aria-expanded="false"
                aria-controls="ui-basic"
              >
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Request Report</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic-1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/orderlist/?order=All"
                          >All Request</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orderlist/?status=1&order=Pending"
                          >Pending Request</a
                        >
                    </li>
                    <li class="nav-item" style="">
                        <a class="nav-link" href="/orderlist/?status=2&order=Approved"
                          >Approved/Delivered</a
                        >
                    </li>
                    <li class="nav-item" >
                      <a class="nav-link" href="/orderlist/?status=3&order=Cancel"
                        >Cancel Request</a
                      >
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/orderlist/?status=4&order=Return"
                      >Return Request</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/orderlist/?status=5&order=Penalty"
                      >Penalty Request</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            
                    
          </ul>

        </nav>


{% if request.path|checklist %}
          

{% else %}
        <div class="main-panel">
         
          
          {% for i in messages %}
            <div class="alert alert-success" id="alert" role="alert" style="cursor:pointer;opacity:.85">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Success!</strong> {{i}}!
              <div class="progress active" role="progressbar" style="height:5px">
                <div class="progress-bar bg-success" id="pb" style="width:100%;opacity:0.5"></div>
              </div>
            </div>
          {% endfor %}
          
            
          {% block body %}

          {% endblock %}
        </div>
{% endif %}

          <!-- partial:partials/_footer.html -->
          
        
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'js/dataTables.select.min.js' %}"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
    <!-- End custom js for this page-->

    <!--  message progress bar -->
   <script>
    var currentChunk = 0;
      var chunks = 5;
  
      $('.alert').click(function() {
        $(".alert").alert('close');
      });
  
      $('.alert').hover(function() {
        window.clearInterval(timer);
        window.clearTimeout(time);
        $(".alert").css('opacity', 1);
      }, function() {
        $(".alert").css('opacity', .9);
        timer = setInterval(function() {
          update();
        }, 10);
      });
  
      var timer = setInterval(function() {
        update();
      }, 10);
  
      var time = window.setTimeout(function() {
        $(".alert").fadeTo(1000, 0).slideUp(1000, function() {
          $(this).remove();
        });
      }, ((chunks - currentChunk) * 1000));
  
      function update() {
        currentChunk += 0.01;
        var progPercent = 100 - (currentChunk * (100 / chunks));
        $(".progress-bar").css('width', progPercent + '%').attr('aria-valuenow', progPercent);
  
        if (progPercent <= 0) {
          $(".alert").remove();
        }
  
        if (currentChunk >= 5) {
          window.clearInterval(timer);
        }
      }
   </script>
<!-- End message progress bar -->

  </body>
</html>
