{% include 'index.html' %} {% load static %} 
{% load custom_tags %} 
{% block body %}

<div class="shop-cart mt-4">
    <div class="container">
        <div class="section-wrapper mb-5">
            <div class="cart-bottom">
                <div class="p-4">
                    <h2 align="center" style="color:green;font-weight:bold">Thank You!</h2>
                </div>
                <div class="" align="center">
                    <div class="row">
                        <div class="col-md-12 col-12" align="center">
                            <img src="{% static 'images/thanks2.gif' %}" styke="width:100%">
                            <p style="color:black">
                                <strong>Thank you to submit the request. Your request will processed and you shall receive a call to collect your device from the IT Room ( Located in 3rd floor A Block )</strong>

                            </p>
                            <p style="color:black">You will have to submit the device after 5 working days, Please re-open a new ticket to extend using the device OR employee needs to open a ticket with “New Device Request” using the another Portal of the company , refere handbook for more details
                                </p>
                                <p style="color:black">Employees are  recommended to use the ticket for timely update or any feedback</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'tablecdn.html' %}
{% include 'footer.html' %}
{% endblock %}
